*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root{
    /* Color styles */
--bg-heade: #255EE9;
--bg-gray: #F6F6F6;
--bg-footer: #23272A;
--title: #000000;
--botton-purple: #7289DA;
}

.d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;

}
.center{
    align-items: center;
}
body{
    background-color: var(--bg-gray);
}

#hero{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
    size: 100%;
    background-position: center;
    min-height: 300px;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

header{
    background-color: var(--bg-heade);
}

.debug{
    border: 1px solid black;
}

footer{
    background-color: var(--bg-footer);
    color: white;
}

.text-center{
    text-align: center;
}
ul{
    color: var(--botton-purple);
    list-style: none;
}

li{
    color: white;
}
